@media (min-width: 1050px) {
    header {
        h1 {
            font-size: 5rem;
        }

        .fa-2xl {  
            font-size: 3.6rem;
        }

        ul {
            padding-bottom: 1rem;
        }
    }
    
    
    .container {
       display: flex;
       flex-direction: row-reverse;
       align-items: center;
       justify-content: center;

       .intro {
        width: 50%;
    }
        
        .stack{
            img {
                width: 8rem;
                height: 8rem;
            }
        }
    }

    .structure {
        div {

            img {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    .project {
        padding-bottom: 3rem;

        .repo {
            width: 3rem;
            height: 3rem;
        }
    }
    
}